@using Microsoft.AspNetCore.Components.Web
@using TheWeatherLibrary.Components.Weather
@page "/"

<PageTitle>Home</PageTitle>

<h1 style="margin: 0 auto; width: 600px;">Server Render</h1>

<Weather></Weather>